<%= render partial: 'layouts/partials/form_error_messages', locals: { object: @user } %>

<p>First Name:</p>
<p><%=f.text_field :first_name %></p>
<p>Last Name:</p>
<p><%=f.text_field :last_name %></p>
